FRANKENSTEIN-UNITYPROJECT/Library/ShaderCache
FRANKENSTEIN-UNITYPROJECT/Temp/
FRANKENSTEIN-UNITYPROJECT/obj/
FRANKENSTEIN-UNITYPROJECT/Library/metadata

*.meta
SERVER/SSH-TO-PROXY/ssh-key-2025-08-03.key
SERVER/SSH-TO-PROXY/ssh-connect.bat
SERVER/readme.md
DUMP/*